a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

a:hover,
a:link,
a:active,
a:visited {
    color: blue;

}

html {
    background-color: silver;
}

th {
      background-color: rgb(3, 68, 12);
      color: black
  }

  body{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: black;
	background-color: #CBCE91FF;
	margin-left: 75px;
	margin-right: 75px;
}

header, footer{
	text-align: center;
	color: #1B9AAA;
	font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2 {
	color: #1B9AAA;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}


a:hover {
	text-decoration: underline;
    background-color: yellow;
}

nav {
	text-align: center;
}

p {
    text-align: center;
    padding-left: 70px;
}

nav a {
    color:#1B9AAA;
}

img {
    align-items: center;
}
button {
    color: black;
    background-color: yellowgreen;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 50vh;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(100px, auto) repeat(5, 90px);
    margin: auto;
    width: 26.3%;
    border: 3px solid black;
    padding-top: 0.05%;
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 10px, solid whitesmoke;
    outline: none;
    border-color: darkgray;
}

.calculator-grid>button:hover {
    background-color:yellow;
   
}

/* AC and = */
.span-two {
    grid-column: span 2;
    color: black;
    background-color: peru;
}

.output {
    grid-column: 1 / -1;
    background-color: darkgray;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 50px;
    word-wrap: break-word;
    word-break: break-all;
    margin: auto;
    width: 70.5%;
    border: 3px solid black;
}

.output .previous-operand {
    color: black;
    font-size: 1.5rem;
}

.output .current-operand {
    color: black;
    font-size: 2.5rem;
}