a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

a:hover,
a:link,
a:active,
a:visited {
    color: blue;

}

html {
    background-color: silver;
}

th {
      background-color: rgb(3, 68, 12);
      color: black
  }

  body{
    border-style: solid;
    border-width: 5px;
    padding: 1%;
    margin: auto;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: black;
	background-color: #CBCE91FF;
	margin-left: 75px;
	margin-right: 75px;
}

header, footer {
	text-align: center;
	color: #1B9AAA;
	font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
	color: #1B9AAA;
	text-align: center;
}

h2 {
	color: #1B9AAA;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

a:hover {
	text-decoration: underline;
    background-color: yellow;
}

nav {
	text-align: center;
}

p {
    text-align: center;
    padding-left: 70px;
}

#intro{
    text-align: center;
    font-size: 20px;
}

nav a {
    color:#1B9AAA;
}

img {
    align-items: center;
}
button {
    color: black;
    background-color: yellowgreen;
}


/* AC and = */
.span-two {
    grid-column: span 2;
    color: black;
    background-color: peru;
}

.output {
    grid-column: 1 / -1;
    background-color: darkgray;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: black;
    font-size: 1.5rem;
}

.output .current-operand {
    color: black;
    font-size: 2.5rem;
}

.navigation{
    position: relative;
    left: 10%;
    right: 50%;
}
.navigation a {
    color:rgb(238, 238, 10);
    font-size: 20px;
    text-align: center;
    padding: 20px 20px;
    background-color: rgb(118, 118, 150);
}
.navigation a:hover{
    background-color: rgb(6, 30, 136);
}

#owners{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

video{
    width: 500px;
    Height: 500px;
    float: left;
}

.first{
    width: 400px;
    height: 250px;
   
   
}

.second{
    width: 400px;
    height: 250px; 
}


h3{
    color: black;
    text-align: center;
}


nav a {
    color:#1B9AAA;
}

img {
    align-items: center;
}
button {
    color: black;
    background-color: yellowgreen;
}
.span-two {
    grid-column: span 2;
    color: black;
    background-color: peru;
}

.output {
    grid-column: 1 / -1;
    background-color: darkgray;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: black;
    font-size: 1.5rem;
}

.output .current-operand {
    color: black;
    font-size: 2.5rem;
}
* {box-sizing:border-box}

/* Slideshow container */
.cycle, .slider {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: white;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: gray;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.container{
 text-align: left;
  background-color: lightgrey;
  width: 600px;
  border: 1px solid black;
  padding: 30px;
  margin: 20px;
  margin: auto;
  padding-top: 0mm;
}

#samT{
    width: 150px;
    height: 140px;
    float: left;
    padding-left: 1%;
}

#radiomirchi{
    width: 180px;
    height: 140px;
    float: right;
    padding-right: 1%;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 280px; 
    padding-left: 1%;
  }

.rdu{
    float: left;
    width: 125px;
    height: 125px;
}

.samp{
    float: right;
    width: 125px;
    height: 125px;
}

#right{
    width: 200px;
    height: 220px;
    float: right;
    padding-right: 1%;
}

#left{
    width: 200px;
    height: 220px;
    float: left;
    padding-left: 1%;
  }

#complexleft{
    width: 250px;
    height: 150px;
    float: left;
    padding-left: 1%;
  }

#complexright{
    width: 250px;
    height: 150px;
    float: right;
    padding-right: 1%;
  }

.calender{
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
  }

